.gallery img {
  width: 150px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}

/* Custom modal size */
.modal-dialog {
  max-width: 80%;
  /* Increase the width of the modal */
  max-height: 90vh;
  /* Increase the height of the modal */
}

/* Ensure the modal image fits within the modal */
.modal-body img {
  max-width: 100%;
  max-height: 70vh;
  /* Adjust based on your needs */
  object-fit: contain;
  /* Ensures the image fits without distortion */
}

/* Adjust the close button position */
.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.img-fluid {
  width: 1000px;
  margin-bottom: 20px;
}

.trip-info {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.trip-facts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 100px;
}

#fact-icon {
  color: green;
  margin-right: 5px;
}

.itinery-menu {
  border-bottom: 1px solid gray;
  padding: 10px 20px 10px 10px;
  margin-top: 20px;
  width: 100%;
  display: flex;
  gap: 4rem;
}

.itinery-menu a {
  text-decoration: none;
  color: black;
}

.overview {
  margin-top: 10px;
}

.sticky-menu {
  margin-top: 70px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  z-index: 9;
  transition: all 0s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  /* Optional: Adds a shadow */
  padding: 15px;
}

#check-icon {
  color: green;
  margin-right: 10px;
}

#cross-icon {
  color: red;
  margin-right: 10px;
}

.faq-head {
  display: flex;
  justify-content: space-between;
}

.itinerary-container {
  background-color: none;
  max-width: 100%;

  border-radius: 8px;
  overflow: hidden;
}

.faq-container {
  background-color: none;
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.itinerary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: bold;
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle-label {
  font-size: 14px;
}

.toggle-switch {
  position: relative;
  width: 40px;
  height: 20px;
  background: #ccc;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.3s ease-in-out;
}

.toggle-switch.active {
  background: #007bff;
}

.toggle-switch.active::before {
  left: 22px;
}

/* .day {} */

.day-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
}

.day-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  background: #fff;
  transition: max-height 0.5s ease-in-out, padding 0.3s ease-in-out;
}

.expanded .day-content {
  padding: 10px 15px;
}

.icon {
  transition: transform 0.3s ease;
}

.expanded .icon {
  transform: rotate(180deg);
}

iframe {
  width: 100%;
  height: 400px;
  border: none;
}

.enquiry-container {
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.enquiry-container h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  color: #555;
}

input,
select,
textarea {
  width: 98%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #008080;
  outline: none;
}

input[type="submit"] {
  background-color: #008080;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 15px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #008080;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col-half {
  flex: 1;
  min-width: calc(48% - 10px);
}

.price-head {
  background-color: #008080;
  text-align: center;
  text-decoration: none;
  width: 100%;
  color: white;
  padding: 10px;
  height: 50px;
  border-radius: 10px 10px 0px 0px;
}

.action a:nth-child(1) {
  background-color: #008080;
  text-align: center;
  text-decoration: none;
  width: 100%;
  color: white;
  padding: 10px;
  height: 50px;
  border-radius: 0px 0px 10px 10px;
}

.action a:nth-child(1):hover {
  background-color: #f4a261;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: none;
}

.card {
  border: none;
  border-radius: 10px;
  max-width: 400px;
  max-height: fit-content;

  margin: auto;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.badge-featured {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffc107;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.original-price {
  text-decoration: line-through;
  color: #6c757d;
}

.btn-view-details {
  background-color: #fd7e14;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}

.btn-view-details:hover {
  background-color: #e96b0c;
}

.next-departure {
  font-size: 14px;
  color: #6c757d;
}

.wishlist-icon {
  color: #dc3545;
  font-size: 20px;
}

.card-contents {
  text-align: left;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  display: none;
}

.active {
  display: block;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 columns */
  gap: 20px;
  /* Spacing between grid items */

  background-color: #f4f4f4;
}

/* view more trips */
.btn-custom {
  border: 1px solid #f4a261;
  color: #f4a261;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 14px;
}

.btn-custom:hover {
  background-color: #f4a261;
  color: white;
}

#view-details-link a {
  padding: 10px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  background-color: orange;
}

#view-details-link a:hover {
  background-color: #008080;
}

.check-ins {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  border-radius: 10px;
  margin: 10px;
}

@media (max-width: 768px) {
  .gallery .mainimg img {
    width: 330px !important;
    height: 200px !important;
  }
  .gallery .sideimg img {
    display: none;
  }

  .check-ins {
    height: max-content;
    width: 100%;
    margin: 0 auto;
  }

  .enquiry-container {
    margin: 10px;
    padding: 15px;
  }

  .row {
    flex-direction: column;
    gap: 0;
  }

  .col-half {
    min-width: 98%;
  }

  input[type="submit"] {
    width: 100%;
  }

  .viewtrip-container {
    display: flex;
    flex-direction: column;
  }
  .trip-fact-right {
    display: none;
  }

  .trip-info {
    width: 100% !important;
  }

  .gallery img {
    height: 100px !important;
    width: 170px !important;
  }

  .trip-facts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 40px;
  }

  .itinery-menu {
    gap: 10px;
  }

  #card-container {
    grid-template-columns: 1fr;
  }

  .side-trip-facts {
    display: none !important;
  }
  .sideimg img {
    display: none;
  }
}
